*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100%; */
}

:root {
    --primary-: #48A6A7;
    --secondary-: #9ACBD0;
    --background-: #F2EFE7;
    --dark-: #006A71;
    
}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(270deg, rgba(154, 203, 208, 0.61) 19.9%, rgba(242, 239, 231, 0.67) 64.4%);

}





